body {
    display: grid;
    justify-content: center;
    padding-top: 32px;
    background: darkcyan;
}

* {
    font-family: 'ari-w9500';
}

button {
    font-weight: bold;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.button:hover {
    cursor: pointer;
}


button:hover {
    cursor: pointer;
}

button:active {
    background: lightgray;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
}


.button--selected {
    background: navy;
    color: white;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
}

.weather-app {
    display: grid;
    align-self: center;
    gap: 4px;
    box-shadow: 0px 0px 0px 2px rgba(12, 12, 12, 0.5);
    background: lightgrey;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;  
}

.weather-app__header {
    background: navy;
    color: white;
    display: flex;
    align-items: center;
    padding: 4px;
}

.weather-app__logo {
    font-size: 0.9rem;
    font-weight: bold;
    flex: 1;
}

.weather-app__btn {
    font-weight: bold;
}

#location-search-form {
    font-weight: bold;
    padding: 0px 16px;
    display: grid;
    gap: 4px
}

#location-search {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    padding: 2px 4px;
    font-size: 1rem;
}

#location-search:focus {
    outline: 2px solid black;
    outline-offset: -1px;
}

#temp-setting {
    display: flex;
    gap: 4px;
    padding: 0px 16px;
}

.temp-setting__btn {
    flex: 1;
}


.weather-card {
    margin: 16px;
    margin-top: 0px;
    display: grid;
    gap: 4px;
    justify-items: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid white;
    border-right: 2px solid grey;
    background: lightgrey;
    padding: 8px 16px;
}

.weather-card__location {
    font-weight: bold;
    font-size: 2rem;
}

.weather-card__conditions {
    font-weight: bold;
    font-size: 1.2rem;
}

.weather-card__temp-current {
    font-weight: bold;
    font-size: 5rem;
}

.weather-card__temp-feels-like {
    font-weight: bold;
}

.temp-range {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}

.temp-range__temp {
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    font-weight: bold;
    padding: 4px 8px;
    text-align: center;
}

#location-search-error {
    display: flex;
    align-content: center;
    min-height: 1.2rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: darkred;
    border: 1px solid black;
}
